.container {
    background-color: rgba(250, 250, 250, 0.837); 
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    border-style:groove;
    border-width: 2px;
    border-radius:8px;
  }

.container li {
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: inside;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
}